:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#1a1b26, #f0f0f0);
  background-color: light-dark(#f0f0f0, #1a1b26);
}

h1 {text-align: center;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #050520;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #333333;
}
li a.active {
  background-color: #04AA6D;
  color: white;
}
.add_space {
    margin-top: 1cm;
}


